{% extends 'base_admin.html' %}

{% block title %}Quản Lý Kiểu Dáng Xe | EV STORE{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h3 class="fw-bold text-dark"><i class="bi bi-tags-fill me-2 text-success"></i>Danh sách Kiểu dáng xe</h3>
        <a href="/admin/core/danhmuc/add/" target="_blank" class="btn btn-success fw-bold shadow-sm">
            <i class="bi bi-plus-lg me-1"></i> Thêm mới
        </a>
    </div>

    {% endblock %}