{% extends 'base.html' %}
{% block title %}Kết quả tìm kiếm{% endblock %}

{% block content %}
<div class="container my-5">
    <h3>Kết quả tìm kiếm cho: "<b>{{ tu_khoa }}</b>"</h3>

    <div class="row mt-4">
        {% for xe in ket_qua %}
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="card shadow-sm h-100">
                {% if xe.hinh_anh %}
                <img src="{{ xe.hinh_anh.url }}" class="card-img-top" style="height:200px; object-fit:cover;">
                {% endif %}

                <div class="card-body text-center">
                    <h5>{{ xe.ten_xe }}</h5>
                    <p class="text-muted">{{ xe.hang_san_xuat }}</p>
                    <p class="text-danger fw-bold">{{ xe.gia }} VNĐ</p>

                    <a href="{% url 'chi_tiet_xe' xe.id %}" class="btn btn-outline-success btn-sm">
                        Xem chi tiết
                    </a>
                </div>
            </div>
        </div>
        {% empty %}
        <p class="text-muted">Không tìm thấy sản phẩm nào.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}